NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=nexiuz-imagenes
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxx.r2.dev

NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
