NEXT_PUBLIC_SUPABASE_URL=https://rmmfrnkveuieqcpgiipv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbWZybmt2ZXVpZXFjcGdpaXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MTk0MzMsImV4cCI6MjA5MzA5NTQzM30.lFKOHu7M8XdfaeXylNf2knsaNzyHh2_kRloFGHEwCA8
SUPABASE_SERVICE_ROLE_KEY=

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=inventario-fotos
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub-85de4b96b3d74b96ab54a59161e71759.r2.dev

NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
    