NEXT_PUBLIC_SUPABASE_URL=https://rmmfrnkveuieqcpgiipv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbWZybmt2ZXVpZXFjcGdpaXB2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1MTk0MzMsImV4cCI6MjA5MzA5NTQzM30.lFKOHu7M8XdfaeXylNf2knsaNzyHh2_kRloFGHEwCA8
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJtbWZybmt2ZXVpZXFjcGdpaXB2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzUxOTQzMywiZXhwIjoyMDkzMDk1NDMzfQ.8U1ZLY1m5RRyWATmeBF9peBpm3c4JUJI9jFxtybjWw8

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_R2_ACCESS_KEY_ID=
CLOUDFLARE_R2_SECRET_ACCESS_KEY=
CLOUDFLARE_R2_BUCKET_NAME=nexiuz-imagenes
NEXT_PUBLIC_CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxx.r2.dev

NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
